[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.6"
sqlparse = "==0.4.4"
tzdata = "==2023.3"
certifi = "==2023.7.22"
distlib = "==0.3.7"
filelock = "==3.13.1"
gunicorn = "==21.2.0"
packaging = "==23.2"
pipenv = "==2023.10.24"
platformdirs = "==3.11.0"
virtualenv = "==20.24.6"

[dev-packages]

[requires]
python_version = "3.11"
