{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Поздравьте любимых преподавателей</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="main__wrapper">
	<header class="header">
		<picture>
			<source srcset="/media/Шапка%20пк.png" media="(min-width: 1000px)"/>
			<img class="header-image" src="/media/Шапка.png" alt="">
		</picture>

	</header>

	<main class="main">
		<div class="form__wrapper">
			<p class="great_text">Форма для поздравления</p>
			<p class="great_text">с Днем преподавателя высшей школы</p>
			<div class="form__container">
				<form class="main__form" action="" method="post">
					{% csrf_token %}
					{{ form.as_p }}

					<button type="submit">Отправить</button>

				</form>
			</div>

		</div>

	</main>

	<footer class="footer">
		<p class="footer__text">Сайт создан инновационным медиакомьюнити Медиа.Hub.</p>
		<p class="footer__text_2">Подписывайтесь на наши социальные сети!</p>
		<div class="footer__images">
			<a href="https://vk.com/mediahub22">
				<img class="footer__image" src="/media/вк.png" height="" alt="">
			</a>
			<a href="https://t.me/mediahubasu22">
				<img class="footer__image" src="/media/телега.png" alt="">
			</a>
			<a href="https://rutube.ru/channel/23478960/">
				<img class="footer__image" src="/media/рутуб.png" alt="">
			</a>
			<a href="https://dzen.ru/m_hub22">
				<img class="footer__image" src="/media/дзен.png" alt="">
			</a>
		</div>
		<div class="footer_pattern">
		</div>
	</footer>

</div>

</body>
<script src="{% static 'main.js' %}"></script>
</html>